@using TaskManager_WEB.Resources
@using Utility
@model List<TaskManager_WEB.Models.AnnouncementDto>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpAcc
@inject LanguageService ShareLocalizer

<div class="container mt-4">
    <h2 class="text-center mb-4">Duyurular</h2>

    @if (HttpAcc.HttpContext.User.IK())
    {
        <div class="mb-4 text-right">
            <a asp-controller="home" asp-action="Create" class="btn btn-primary">Yeni Duyuru Ekle</a>
        </div>
    }

    <div class="row">
        @foreach (var announcement in Model)
        {
            <div class="col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card w-100 shadow-sm">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center">@announcement.Title</h5>
                        <p class="card-text" id="content-@announcement.Id">
                            @{
                                var contentToShow = announcement.Content.Length > 200
                                ? announcement.Content.Substring(0, 100) + "..."
                                : announcement.Content;
                            }
                            @contentToShow
                        </p>
                        @if (announcement.Content.Length > 200)
                        {
                            <a href="javascript:void(0)" class="mt-auto toggle-link" data-bs-toggle="modal" data-bs-target="#announcementModal" onclick="showModal('@announcement.Title', `@announcement.Content`)">Daha fazla oku</a>
                        }
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">Yazar: @announcement.AuthorName</small>
                        <small class="text-muted">
                            @{
                                var dateToShow = announcement.UpdatedDate.HasValue ? announcement.UpdatedDate.Value : announcement.CreatedDate;
                            }
                            @dateToShow.ToString("dd.MM.yyyy")
                        </small>

                        @if (HttpAcc.HttpContext.User.IK())
                        {
                            <div class="ml-auto d-flex">
                                <form asp-action="Update" asp-controller="home" method="get" class="me-2">
                                    <input type="hidden" name="id" value="@announcement.Id" />
                                    <button type="submit" class="btn btn-warning btn-sm">@ShareLocalizer.Getkey("Update").Value</button>
                                </form>
                                <form asp-action="Delete" asp-controller="Home" method="post">
                                    <input type="hidden" name="id" value="@announcement.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">@ShareLocalizer.Getkey("Delete").Value</button>
                                </form>
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="announcementModal" tabindex="-1" aria-labelledby="announcementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="announcementModalLabel">Duyuru Başlığı</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Duyuru İçeriği</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function showModal(title, content) {
            document.getElementById('announcementModalLabel').innerText = title;
            document.getElementById('modalContent').innerText = content;
        }
    </script>
}
