@model List<UserListVM>

<h2 class="mt-5">Tüm Kullanıcılar</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>E-posta</th>
            <th>Departman</th>
            <th>İşemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.User.Name</td>
                <td>@user.User.LastName</td>
                <td>@user.User.Email</td>
                <td>@user.User.Department.DepartmentName</td>
                <td>
                    <form asp-action="UserDelete" asp-controller="home" method="post">
                        <input type="hidden" name="id" value="@user.User.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<