@using TaskManager_WEB.Resources
@model LoginRequestDto
@inject LanguageService ShareLocalizer

<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form asp-action="Login" method="post">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <img src="@Url.Content("~/images/1583011018.png")" alt="Logo" class="me-3" style="height: 250px;" />
                                    </div>

                                    <h5 class="fw-bold" style="letter-spacing: 1px;">@ShareLocalizer.Getkey("SignIn").Value</h5>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" id="Email" asp-for="Email" required class="form-control form-control-lg" placeholder="@ShareLocalizer.Getkey("Email").Value" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-check mb-4">
                                        <input type="checkbox" id="RememberMe" asp-for="RememberMe" class="form-check-input" />
                                        <label for="RememberMe" class="form-check-label">@ShareLocalizer.Getkey("RememberMe").Value</label>
                                    </div>

                                    <div class="mb-4">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block w-100" type="submit">@ShareLocalizer.Getkey("SignInButton").Value</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
