@using System.Security.Claims
@using TaskManager_WEB.Resources
@using Utility
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpAcc
@inject LanguageService ShareLocalizer
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

@{
    var userId = HttpAcc.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManager_WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManager_WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="home" style="margin-left: 20px;">
                    <img src="~/images/son.png" alt="Logo" style="height: 100px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link fs-4 fw-bold" asp-area="" asp-controller="home" asp-action="home">@ShareLocalizer.Getkey("Home")</a>
                        </li>
                        @if (HttpAcc.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link fs-4 fw-bold" asp-area="" asp-controller="user" asp-action="getallusers" asp-route-id="@userId">@ShareLocalizer.Getkey("TaskTrackingList")</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav ms-auto align-items-center">
                        @if (HttpAcc.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <!-- Notification icon -->
                                <a class="me-3 hidden-arrow notification-icon" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-bell text-dark"></i>
                                    <!-- Notification count -->
                                    <span class="badge rounded-pill badge-notification bg-danger notification-badge" style="border: none;" id="notificationCount">0</span>
                                </a>
                                <!-- Notification dropdown content -->
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="notificationContent">
                                    <li><a class="dropdown-item" href="#">No new notifications</a></li>
                                </ul>
                            </div>

                            @if (HttpAcc.HttpContext.User.IK())
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle fs-4 fw-bold" href="#" id="ikDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @ShareLocalizer.Getkey("HR")
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ikDropdown">
                                        <li><a class="dropdown-item fs-5" asp-controller="Department" asp-action="DepartmentCreate">@ShareLocalizer.Getkey("AddDepartment").Value</a></li>
                                        <li><a class="dropdown-item fs-5" asp-controller="user" asp-action="UserCreate">@ShareLocalizer.Getkey("AddPersonnel").Value</a></li>
                                        <li><a class="dropdown-item fs-5" asp-controller="user" asp-action="UserList">@ShareLocalizer.Getkey("PersonnelList").Value</a></li>
                                    </ul>
                                </li>
                            }

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-4 fw-bold" href="#" id="userProfileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @ShareLocalizer.Getkey("Settings")
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userProfileDropdown">
                                    <li><a class="dropdown-item fs-5" asp-area="" asp-controller="user" asp-action="Profile" asp-route-id="@userId">@ShareLocalizer.Getkey("Profile")</a></li>
                                    <li><a class="dropdown-item fs-5" asp-area="" asp-controller="Auth" asp-action="LogOut">@ShareLocalizer.Getkey("Logout")</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link fs-4 fw-bold" asp-area="" asp-controller="Auth" asp-action="Login">@ShareLocalizer.Getkey("Login")</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="ChangeLang" asp-route-culture="en-US" class="nav-link">
                                <span class="flag-icon flag-icon-gb fs-4"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="ChangeLang" asp-route-culture="tr-TR" class="nav-link">
                                <span class="flag-icon flag-icon-tr fs-4"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8655.2412875667!2d32.7886912602928!3d39.91700423309819!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3494cbba972b9%3A0x3c095cf122b3920!2sTar%C4%B1m%20Kredi%20Teknoloji%20A.%C5%9E.!5e0!3m2!1str!2str!4v1725452850454!5m2!1str!2str"
                    width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="container-fluid text-center fs-5">
            <p>&copy; 2024 - TaskManager_WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            var userId = parseInt('@userId');

            var url = '/UsersTaskJson/' + userId;
            $.get(url, function (tasks) {
                var pendingTasks = tasks.filter(function (task) {
                    return task.status === 0;
                });

                if (pendingTasks.length > 0) {
                    $('#notificationCount').text(pendingTasks.length);
                    $('#notificationContent').empty();

                    pendingTasks.forEach(function (task) {
                        var taskName = task.taskName ? task.taskName : "No Task Name";
                        var createrFullName = task.createrUserName + " " + task.createrUserLastName;

                        var assignDate = new Date(task.assignmentDate).toLocaleString('tr-TR', {
                            day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit'
                        });

                        var listItem = $('<li>').append(
                            $('<a>').addClass('dropdown-item notification-item')
                                .html(
                                    "<span class='notification-text'>" + createrFullName + " tarafından atanmış yeni bir göreviniz var." + "</span>" +
                                    "<span class='assign-date'>" + assignDate + "</span>"
                                )
                                .click(function () {
                                    window.location.href = '/UsersTask/' + userId;
                                })
                        );
                        $('#notificationContent').append(listItem);
                    });

                } else {
                    $('#notificationCount').text(0);
                    $('#notificationContent').html('<li><a class="dropdown-item" href="#">Atanmış yeni bir göreviniz bulunmamakta.</a></li>');
                }
            });
        });
    </script>
</body>
</html>

<style>
    body {
        padding-bottom: 200px;
    }

    .notification-icon {
        position: relative;
        display: inline-block;
        font-size: 24px;
        cursor: pointer; /* Bildirim simgesi tıklanabilir */
        transition: color 0.3s ease; /* Animasyon eklendi */
    }

        .notification-icon i {
            color: #333; /* Daha yumuşak bir renk */
        }

        .notification-icon:hover i {
            color: #007bff; /* Üzerine gelindiğinde simge rengini değiştir */
        }

    .notification-badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: #dc3545; /* Bildirim rengi daha belirgin hale getirildi */
        color: white;
        font-size: 12px;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Hafif bir gölge eklendi */
    }

    #notificationContent {
        min-width: 400px; /* Bildirim paneli daha geniş yapıldı */
        transform: translateX(-50%);
        background-color: #fff; /* Beyaz arka plan */
        border-radius: 10px; /* Kenarlara yuvarlama eklendi */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge eklendi */
        padding: 10px;
    }

    .notification-item {
        padding: 10px;
        border-bottom: 1px solid #f1f1f1;
        transition: background-color 0.3s ease;
        text-decoration: none;
        color: #333;
        border-radius: 5px;
        position: relative;
        user-select: none;
        min-height: 60px; /* Tarihin düzgün yerleşmesi için yeterli yükseklik */
    }

        .notification-item:hover {
            background-color: #f8f9fa;
            color: #007bff;
        }

    .assign-date {
        font-size: 0.75em;
        color: #6c757d;
        position: absolute; /* Tarihi mutlak konumlandır */
        right: 10px; /* Sağdan 10px boşluk */
        bottom: 5px; /* Alttan 5px boşluk */
    }

    .notification-text {
        padding-right: 80px; /* Sağdaki tarih için boşluk bırak */
        display: block; /* Metni üst satıra taşımak için block yap */
        font-size: 1em;
    }

    .no-notifications {
        text-align: center;
        padding: 10px;
        color: #888;
        font-style: italic;
    }
</style>
