@using System.Security.Claims
@using TaskManager_WEB.Resources
@using Utility
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpAcc
@inject LanguageService ShareLocalizer

@{
    var userId = HttpAcc.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManager_WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManager_WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="home" style="margin-left: 20px;">
                    <img src="~/images/son.png" alt="Logo" style="height: 100px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="home" asp-action="home">@ShareLocalizer.Getkey("Home")</a>
                        </li>
                        @if (HttpAcc.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" asp-area="" asp-controller="user" asp-action="getallusers" asp-route-id="@userId">@ShareLocalizer.Getkey("TaskTrackingList")</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav ms-auto align-items-center">
                        @if (HttpAcc.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-5" href="#" id="userProfileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @ShareLocalizer.Getkey("Settings")
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userProfileDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="user" asp-action="Profile" asp-route-id="@userId">@ShareLocalizer.Getkey("Profile")</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="LogOut">@ShareLocalizer.Getkey("Logout")</a></li>
                                </ul>
                            </li>

                            @if (HttpAcc.HttpContext.User.IK())
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle fs-5" href="#" id="ikDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @ShareLocalizer.Getkey("HR")
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ikDropdown">
                                        <li><a class="dropdown-item" asp-controller="Department" asp-action="DepartmentCreate">@ShareLocalizer.Getkey("AddDepartment").Value</a></li>
                                        <li><a class="dropdown-item" asp-controller="user" asp-action="UserCreate">@ShareLocalizer.Getkey("AddPersonnel").Value</a></li>
                                        <li><a class="dropdown-item" asp-controller="user" asp-action="UserList">@ShareLocalizer.Getkey("PersonnelList").Value</a></li>
                                    </ul>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">@ShareLocalizer.Getkey("Login")</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="ChangeLang" asp-route-culture="en-US" class="nav-link">
                                <span class="flag-icon flag-icon-gb"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="ChangeLang" asp-route-culture="tr-TR" class="nav-link">
                                <span class="flag-icon flag-icon-tr"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8655.2412875667!2d32.7886912602928!3d39.91700423309819!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3494cbba972b9%3A0x3c095cf122b3920!2sTar%C4%B1m%20Kredi%20Teknoloji%20A.%C5%9E.!5e0!3m2!1str!2str!4v1725452850454!5m2!1str!2str"
                    width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="container-fluid text-center">
            <p>&copy; 2024 - TaskManager_WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body {
        padding-bottom: 200px;
    }
</style>
