@using TaskManager_WEB.Resources
@using Utility
@model List<UserViewModel>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpAcc
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
@inject LanguageService ShareLocalizer

<div class="container-fluid mt-5 px-5">
    <div class="row gx-3">
        <!-- Profil Kartı Container -->
        <div class="col-2" style="padding-left: 0; margin-top: 180px;">
            <div class="card shadow-sm w-100">
                <div class="card-header bg-secondary text-white text-center">
                    <h5 class="mb-0">@ShareLocalizer.Getkey("ProfileTitle").Value</h5>
                </div>
                <div class="card-body text-center">
                    @{
                        var profileImage = HttpAcc.HttpContext.User.IsFemale()
                        ? Url.Content("~/images/female.png")
                        : Url.Content("~/images/male.png");
                    }
                    <img src="@profileImage" class="rounded-circle img-fluid mb-3" alt="Profile Image" style="width: 120px; height: 120px; object-fit: cover;">
                    <h5 class="card-title">@ViewBag.FullName</h5>
                    <p class="card-text">
                        <strong>@ShareLocalizer.Getkey("Email").Value:</strong><br /> <a href="mailto:@ViewBag.Email">@ViewBag.Email</a><br />
                        <strong>@ShareLocalizer.Getkey("Department").Value: <br /></strong> @ViewBag.DepartmentName <br />
                        <a asp-controller="user" asp-action="UsersTask" asp-route-id="@ViewBag.Id" class="btn btn-secondary rounded-pill mt-3">@ShareLocalizer.Getkey("MyTasks").Value</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-10" style="padding-right: 0;">
            <div class="container-fluid p-0">
                <h2 class="mb-4">@ShareLocalizer.Getkey("TaskTrackingList").Value</h2>

                <div class="d-flex justify-content-end mb-3">
                    <a asp-controller="Task" asp-action="Create" class="btn btn-secondary rounded-pill me-2">@ShareLocalizer.Getkey("AddNewTask").Value</a>
                    @if (HttpAcc.HttpContext.User.IK())
                    {
                        <a asp-controller="Department" asp-action="DepartmentCreate" class="btn btn-secondary rounded-pill me-2">@ShareLocalizer.Getkey("AddDepartment").Value</a>
                        <a asp-controller="user" asp-action="UserCreate" class="btn btn-secondary rounded-pill me-2">@ShareLocalizer.Getkey("AddPersonnel").Value</a>
                        <a asp-controller="user" asp-action="UserList" class="btn btn-secondary rounded-pill">@ShareLocalizer.Getkey("PersonnelList").Value</a>
                    }
                </div>

                <div class="alert alert-info d-flex align-items-center rounded-pill mb-2" role="alert">
                    <div>
                        <i class="fas fa-check-circle text-success me-2"></i> @ShareLocalizer.Getkey("Completed").Value
                    </div>
                    <div class="ms-4">
                        <i class="fas fa-times-circle text-danger me-2"></i> @ShareLocalizer.Getkey("Rejected").Value
                    </div>
                    <div class="ms-4">
                        <i class="fas fa-clock text-warning me-2"></i> @ShareLocalizer.Getkey("Pending").Value
                    </div>
                    <div class="ms-4">
                        <i class="fas fa-exclamation-circle me-2" style="color:#FF5F15"></i> @ShareLocalizer.Getkey("TimeExpired").Value
                    </div>
                    <div class="ms-4">
                        <i class="fas fa-minus-circle text-dark me-2"></i> @ShareLocalizer.Getkey("None").Value
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered fs-6 lh-lg" id="usersTable">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    <input type="text" id="searchAssignedUserName" class="form-control rounded-pill" placeholder="@ShareLocalizer.Getkey("SearchAssignedUserName").Value">
                                </th>
                                <th>
                                    <input type="text" id="searchEmail" class="form-control rounded-pill" placeholder="@ShareLocalizer.Getkey("SearchEmail").Value">
                                </th>
                                <th>
                                    <input type="text" id="searchDepartment" class="form-control rounded-pill" placeholder="@ShareLocalizer.Getkey("SearchDepartment").Value">
                                </th>
                                <th>
                                    <input type="text" id="searchTaskName" class="form-control rounded-pill" placeholder="@ShareLocalizer.Getkey("SearchTaskName").Value">
                                </th>
                                <th>
                                    <input type="text" id="searchCreatorUserName" class="form-control rounded-pill" placeholder="@ShareLocalizer.Getkey("SearchCreatorUserName").Value">
                                </th>
                                <th class="text-center">@ShareLocalizer.Getkey("Detail").Value</th>
                                <th>@ShareLocalizer.Getkey("Detail").Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var userViewModel in Model)
                            {
                                var tasks = userViewModel.AssignedTasks;
                                if (tasks.Any())
                                {
                                    var firstTask = tasks.First();
                                    var remainingTasks = tasks.Count() - 1;
                                    <tr>
                                        <td class="assigned-user text-center align-middle">@firstTask.AsaignedUserName @firstTask.AsaignedUserLastName</td>
                                        <td class="email text-center align-middle">@firstTask.AsaignedUserEmail</td>
                                        <td class="department text-center align-middle">@firstTask.Department.DepartmentName</td>
                                        <td class="task-name text-center align-middle">
                                            @firstTask.TaskName
                                            @if (remainingTasks > 0)
                                            {
                                                <button class="btn btn-link p-0 m-0 ms-2 toggle-tasks" data-user-id="@userViewModel.User.Id" data-remaining-tasks="@remainingTasks" style="text-decoration: none;">
                                                    <i class="fas fa-chevron-down"></i>
                                                    <span class="remaining-tasks-badge">+@remainingTasks</span>
                                                </button>
                                            }
                                        </td>
                                        <td class="creator-user text-center align-middle">@firstTask.CreaterUserName @firstTask.CreaterUserLastName</td>
                                        <td class="status text-center align-middle">
                                            @if (firstTask.StatusDescription == "Tamamlandı")
                                            {
                                                <i class="fas fa-check-circle text-success"></i>
                                            }
                                            else if (firstTask.StatusDescription == "Reddedildi")
                                            {
                                                <i class="fas fa-times-circle text-danger"></i>
                                            }
                                            else if (firstTask.StatusDescription == "SüreDoldu")
                                            {
                                                <i class="fas fa-exclamation-circle" style="color:#FF5F15"></i>
                                            }
                                            else if (firstTask.StatusDescription == "Beklemede")
                                            {
                                                <i class="fas fa-clock text-warning"></i>
                                            }
                                        </td>
                                        <td class="text-center align-middle">
                                            <a asp-action="TaskDetails" asp-controller="Task" asp-route-id="@firstTask.Id" class="btn btn-secondary btn-sm">@ShareLocalizer.Getkey("Detail").Value</a>
                                        </td>
                                    </tr>
                                    @foreach (var task in tasks.Skip(1))
                                    {
                                        <tr class="additional-task" data-user-id="@userViewModel.User.Id" style="display: none;">
                                            <td class="assigned-user text-center align-middle">@task.AsaignedUserName @task.AsaignedUserLastName</td>
                                            <td class="email text-center align-middle">@task.AsaignedUserEmail</td>
                                            <td class="department text-center align-middle">@task.Department.DepartmentName</td>
                                            <td class="task-name text-center align-middle">@task.TaskName</td>
                                            <td class="creator-user text-center align-middle">@task.CreaterUserName @task.CreaterUserLastName</td>
                                            <td class="status text-center align-middle">
                                                @if (task.StatusDescription == "Tamamlandı")
                                                {
                                                    <i class="fas fa-check-circle text-success"></i>
                                                }
                                                else if (task.StatusDescription == "Reddedildi")
                                                {
                                                    <i class="fas fa-times-circle text-danger"></i>
                                                }
                                                else if (task.StatusDescription == "SüreDoldu")
                                                {
                                                    <i class="fas fa-exclamation-circle" style="color:#FF5F15"></i>
                                                }
                                                else if (task.StatusDescription == "Beklemede")
                                                {
                                                    <i class="fas fa-clock text-warning"></i>
                                                }
                                            </td>
                                            <td class="text-center align-middle">
                                                <a asp-action="TaskDetails" asp-controller="Task" asp-route-id="@task.Id" class="btn btn-secondary btn-sm">@ShareLocalizer.Getkey("Detail").Value</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="assigned-user text-center align-middle">@userViewModel.User.Name @userViewModel.User.LastName</td>
                                        <td class="email text-center align-middle">@userViewModel.User.Email</td>
                                        <td class="department text-center align-middle">@userViewModel.User.Department.DepartmentName</td>
                                        <td class="task-name text-center align-middle">
                                            <i class="fas fa-minus-circle text-dark"></i>
                                        </td>
                                        <td class="creator-user text-center align-middle">
                                            <i class="fas fa-minus-circle text-dark"></i>
                                        </td>
                                        <td class="status text-center align-middle">
                                            <i class="fas fa-minus-circle text-dark"></i>
                                        </td>
                                        <td class="text-center align-middle">
                                            <i class="fas fa-minus-circle text-dark"></i>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function saveExpandedState(userId, isExpanded) {
                var expandedUsers = JSON.parse(localStorage.getItem('expandedUsers')) || [];
                if (isExpanded) {
                    if (!expandedUsers.includes(userId)) {
                        expandedUsers.push(userId);
                    }
                } else {
                    expandedUsers = expandedUsers.filter(id => id !== userId);
                }
                localStorage.setItem('expandedUsers', JSON.stringify(expandedUsers));
            }

            function loadExpandedState() {
                var expandedUsers = JSON.parse(localStorage.getItem('expandedUsers')) || [];
                expandedUsers.forEach(function (userId) {
                    $('.additional-task[data-user-id="' + userId + '"]').show();
                    var toggleButton = $('.toggle-tasks[data-user-id="' + userId + '"]');
                    toggleButton.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
                });
            }
            loadExpandedState();

            $(document).on('click', '.toggle-tasks', function () {
                var userId = $(this).data('user-id');
                var additionalTasks = $('.additional-task[data-user-id="' + userId + '"]');
                var isExpanded = additionalTasks.is(':visible');
                additionalTasks.toggle();
                var icon = $(this).find('i');

                if (icon.hasClass('fa-chevron-down')) {
                    icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
                } else {
                    icon.removeClass('fa-chevron-up').addClass('fa-chevron-down');
                }
                saveExpandedState(userId, !isExpanded);
            });

            function turkishToLower(str) {
                var letters = { "İ": "i", "I": "ı", "Ş": "ş", "Ğ": "ğ", "Ü": "ü", "Ö": "ö", "Ç": "ç" };
                str = str.replace(/(([İIŞĞÜÇÖ]))/g, function (letter) { return letters[letter]; });
                return str.toLowerCase();
            }

            function filterTable() {
                var searchAssignedUserName = turkishToLower($("#searchAssignedUserName").val());
                var searchEmail = turkishToLower($("#searchEmail").val());
                var searchDepartment = turkishToLower($("#searchDepartment").val());
                var searchTaskName = turkishToLower($("#searchTaskName").val());
                var searchCreatorUserName = turkishToLower($("#searchCreatorUserName").val());

                $("#usersTable tbody tr").each(function () {
                    var assignedUserMatch = turkishToLower($(this).find(".assigned-user").text()).includes(searchAssignedUserName);
                    var emailMatch = turkishToLower($(this).find(".email").text()).includes(searchEmail);
                    var departmentMatch = turkishToLower($(this).find(".department").text()).includes(searchDepartment);
                    var taskNameMatch = turkishToLower($(this).find(".task-name").text()).includes(searchTaskName);
                    var creatorUserMatch = turkishToLower($(this).find(".creator-user").text()).includes(searchCreatorUserName);

                    if (assignedUserMatch && emailMatch && departmentMatch && taskNameMatch && creatorUserMatch) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }

            function clearFilters() {
                $("#searchAssignedUserName, #searchEmail, #searchDepartment, #searchTaskName, #searchCreatorUserName").val('');
                $("#usersTable tbody tr").show();
            }

            $("#clearFiltersButton").click(function () {
                clearFilters();
            });

            $("#searchAssignedUserName, #searchEmail, #searchDepartment, #searchTaskName, #searchCreatorUserName").on("keyup", filterTable);
        });
    </script>
}

<style>
    i.fas {
        font-size: 1.5rem;
    }
</style>
