@model List<TaskDtoWeb>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container mt-5">
    <h2 class="mb-4">Görevlerim</h2>

    @if (Model == null || !Model.Any())
    {
        <p>Henüz atanmış bir göreviniz bulunmuyor.</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Görev Adı</th>
                        <th>Departman</th>
                        <th>Atama Yapan Kişi</th>
                        <th class="text-center">Durum</th>
                        <th class="text-center">Kalan Süre</th>
                        <th class="text-center">Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in Model)
                    {
                        var countdownId = $"countdown_{task.Id}";
                        var endTime = task.AssignmentDate.AddDays(3); // 3 gün ekleyerek süreyi hesapla

                        <tr>
                            <td class="align-middle">@task.TaskName</td>
                            <td class="align-middle">@task.Department.DepartmentName</td>
                            <td class="align-middle">@task.CreaterUserName @task.CreaterUserLastName</td>
                            <td id="status_@countdownId" class="align-middle fw-bold text-uppercase">
                                @task.StatusDescription                              
                            </td>
                            <td class="align-middle text-center">
                                @if (task.StatusDescription == "Beklemede")
                                {
                                    <span id="@countdownId"></span>
                                    <script>
                                        function updateCountdown(id, endTime, taskId) {
                                            var countdownElement = document.getElementById(id);
                                            var interval = setInterval(function () {
                                                var now = new Date().getTime();
                                                var distance = endTime - now;

                                                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                                if (distance > 0) {
                                                    countdownElement.innerHTML = days + " gün " + hours + " saat " + minutes + " dakika " + seconds + " saniye";
                                                } else {
                                                    countdownElement.innerHTML = "<span class='text-danger'>Süre doldu</span>";
                                                    clearInterval(interval);

                                                    // Süre dolduğunda AJAX isteği gönder
                                                    $.ajax({
                                                        url: '@Url.Action("TaskStatusUpdate", "Task")',
                                                        type: 'POST',
                                                        data: {
                                                            TaskId: taskId,
                                                            Status: "Süre Doldu"
                                                        },
                                                        success: function (response) {
                                                            // Başarıyla güncellendiğinde durumu sayfada güncelle
                                                            document.getElementById('status_' + id).innerHTML = "SüreDoldu";
                                                            document.getElementById('status_detail_' + id).innerHTML = "Durum güncellenmiş";
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.log("Görev güncellenirken bir hata oluştu: " + error);
                                                        }
                                                    });
                                                }
                                            }, 1000);
                                        }

                                        var endTime = new Date("@endTime.ToString("MM/dd/yyyy HH:mm:ss")").getTime();
                                        updateCountdown("@countdownId", endTime, "@task.Id");
                                    </script>
                                }
                                else
                                {
                                    <span class="text-danger">Süre doldu</span>
                                }
                            </td>
                            <td id="status_detail_@countdownId" class="text-center align-middle">
                                <div class="d-flex justify-content-center">
                                    @if (task.StatusDescription == "Beklemede")
                                    {
                                        <form asp-action="TaskStatusUpdate" asp-controller="task" method="post" class="m-2">
                                            <input type="hidden" name="TaskId" value="@task.Id" />
                                            <input type="hidden" name="Status" value="Onayla" />
                                            <button type="submit" class="btn btn-success btn-sm me-2">Onayla</button>
                                        </form>
                                        <form asp-action="TaskStatusUpdate" asp-controller="task" method="post" class="m-2">
                                            <input type="hidden" name="TaskId" value="@task.Id" />
                                            <input type="hidden" name="Status" value="Reddet" />
                                            <button type="submit" class="btn btn-danger btn-sm">Reddet</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <span class="text-muted">Durum güncellenmiş</span>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
