@using TaskManager_WEB.Resources
@model List<TaskDtoWeb>
@inject LanguageService ShareLocalizer
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container mt-5">
    <h2 class="mb-4">@ShareLocalizer.Getkey("MyTasks").Value</h2>

    @if (Model == null || !Model.Any())
    {
        <p>@ShareLocalizer.Getkey("NoTasks").Value</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">@ShareLocalizer.Getkey("TaskName").Value</th>
                        <th class="text-center">@ShareLocalizer.Getkey("Department").Value</th>
                        <th class="text-center">@ShareLocalizer.Getkey("AssignedBy").Value</th>
                        <th class="text-center">@ShareLocalizer.Getkey("Status").Value</th>
                        <th class="text-center">@ShareLocalizer.Getkey("RemainingTime").Value</th>
                        <th class="text-center">@ShareLocalizer.Getkey("Details").Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in Model)
                    {
                        var countdownId = $"countdown_{task.Id}";
                        var endTime = task.AssignmentDate.AddDays(3);

                        <tr>
                            <td class="align-middle text-center">@task.TaskName</td>
                            <td class="align-middle text-center">@task.Department.DepartmentName</td>
                            <td class="align-middle text-center">@task.CreaterUserName @task.CreaterUserLastName</td>
                            <td id="status_@countdownId" class="align-middle text-uppercase fw-bold text-center">
                                @task.StatusDescription
                            </td>
                            <td class="align-middle text-center">
                                @if (task.StatusDescription == "Beklemede")
                                {
                                    <span id="@countdownId"></span>
                                    <script>
                                        function updateCountdown(id, endTime, taskId) {
                                            var countdownElement = document.getElementById(id);
                                            var interval = setInterval(function () {
                                                var now = new Date().getTime();
                                                var distance = endTime - now;

                                                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                                if (distance > 0) {
                                                    countdownElement.innerHTML = days + " gün " + hours + " saat " + minutes + " dakika " + seconds + " saniye";
                                                } else {
                                                    countdownElement.innerHTML = "<span class='text-danger'>@ShareLocalizer.Getkey("TimeExpired").Value</span>";
                                                    clearInterval(interval);

                                                    $.ajax({
                                                        url: '@Url.Action("TaskStatusUpdate", "Task")',
                                                        type: 'POST',
                                                        data: {
                                                            TaskId: taskId,
                                                            Status: "Süre Doldu"
                                                        },
                                                        success: function (response) {
                                                            document.getElementById('status_' + id).innerHTML = "@ShareLocalizer.Getkey("TimeExpired").Value";
                                                            document.getElementById('status_detail_' + id).innerHTML = "@ShareLocalizer.Getkey("StatusUpdated").Value";
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.log("@ShareLocalizer.Getkey("ConfirmUpdate").Value: " + error);
                                                        }
                                                    });
                                                }
                                            }, 1000);
                                        }

                                        var endTime = new Date("@endTime.ToString("MM/dd/yyyy HH:mm:ss")").getTime();
                                        updateCountdown("@countdownId", endTime, "@task.Id");
                                    </script>
                                }
                                else
                                {
                                    <span class="text-danger">@ShareLocalizer.Getkey("TimeExpired").Value</span>
                                }
                            </td>
                            <td id="status_detail_@countdownId" class="text-center align-middle">
                                <div class="d-flex justify-content-center">
                                    @if (task.StatusDescription == "Beklemede")
                                    {
                                        <form asp-action="TaskStatusUpdate" asp-controller="task" method="post" class="m-2">
                                            <input type="hidden" name="TaskId" value="@task.Id" />
                                            <input type="hidden" name="Status" value="Onayla" />
                                            <button type="submit" class="btn btn-success btn-sm me-2">@ShareLocalizer.Getkey("Approve").Value</button>
                                        </form>
                                        <form asp-action="TaskStatusUpdate" asp-controller="task" method="post" class="m-2">
                                            <input type="hidden" name="TaskId" value="@task.Id" />
                                            <input type="hidden" name="Status" value="Reddet" />
                                            <button type="submit" class="btn btn-danger btn-sm">@ShareLocalizer.Getkey("Reject").Value</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <span class="text-muted">@ShareLocalizer.Getkey("StatusUpdated").Value</span>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

